#add-todo-link {
    display: block;
    width: 100%;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.card {
    margin-top: 20px;
    background-color: #f8f9fa; /* 軽い背景色 */
    border: 1px solid #ddd; /* 枠線 */
}

.card-title {
    color: #007bff; /* タイトルの色 */
}

.card-text {
    color: #555; /* テキストの色 */
}

.btn-primary {
    margin-right: 10px;
}

.btn-danger {
    margin-right: 10px;
}
